<h1> This is the homepage of Alpha Blog</h1>
<!--<%= image_tag 'img.jpg' %>-->

<%= image_tag('img.jpg', :size => "260x260") %></br>



<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>
